*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    font-family: 'Poppins',sans-serif;
    padding:5%;
}
footer{
    background-color:blue;
    color: #fff;
    padding:3%;
    display: flex;
    align-items: center;
    gap:60px;
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    color: #fff;
}