*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 5%;
    font-family: 'Poppins', sans-serif;
}

.container{
   height:500px;
   background-image: url("..//images/amico.png");
}

input{
    width: 80%;
    border-radius: 25px;
    padding: 15px;
    margin-top: 50px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

li{
    padding: 15px;
    border: 1px solid red;
    list-style: none;
    border-radius: 25px 25px 0px 25px;
    background-color:#fff;
}


button{
    border-radius: 20px;
    padding:15px 30px;
    background-color:blue;
    border: #fff;
    color: #fff;
    margin-top: 50px;
}


p{
    border-radius:25px 25px 25px 0px;
    border:solid 2px blue;
    padding: 10px;
}

.more-comments{
    background-color:gainsboro;
    border: none;
    color: blue;
}

.more{
    display: none;
}